body{
  background-color: #E7E5E0;
  font-family: Segoe UI;

}
:root {
  --swiper-theme-color:#ffcc00 !important;
}
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,p,span{
  margin: 0;
}

a{
  color: #000;
  text-decoration: none;
}
.section{
  margin: 3rem 0;
}
.Button {
  width:  14rem;
  height: 4rem;
  background: #fde275; /*#F6E7AC*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  border-bottom-right-radius: 25px 25px;
  font-size: large;
  padding: .5rem 1rem;
}
.price-text{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items:end;
  font-family: Segoe UI;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}
@media (max-device-width:700px) {
  .Button{
    font-size: 20px;
  }
}